<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars's missions briefing</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the data!</a></p>
    </div>

    <!-- NASA Mars News Listings (in this case just 1 element) -->
    <h2>Latest NASA Mars News</h2>

    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
          <h4 class="heading">{{listings.headline}}</h4>
          <h7 class="heading">{{listings.article_body}}</h7>
          
          <hr>
          <!-- JPL Mars Space Images - Featured Image -->
          <h2>Featured Mars Space Image</h2>

          
      </div>
    </div>

  </div>


  



</body>

</html>

