<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Navigation bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand abs" href="index.html">Mars's   Mission    Briefing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> 
                                Plots
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="assets/HTML_files/temperature.html">Max Temperature</a>
                              <a class="dropdown-item" href="assets/HTML_files/humidity.html">Humidity</a>
                              <a class="dropdown-item" href="assets/HTML_files/cloudy.html">Cloudiness</a>
                              <a class="dropdown-item" href="assets/HTML_files/wind.html">Wind Speed</a>
                            </div>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="assets/HTML_files/comparison.html">Comparison</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="assets/HTML_files/dataviz.html">Data</a>
                </li>
            </ul>
        </div>
</nav>
<div class="container-fluid">
  <h2>Nested Columns</h2>
  <p>Add columns inside other columns:</p>
</div>

<div class="container-fluid">

  <div class="row">
  
      <div class="col-12" style="background-color:yellow;">.col-12
        <div class="jumbotron text-center">
          <h1>Mars's missions briefing</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the data!</a></p>
        </div>
      </div>
      
      <div class="col-12" style="background-color:green;">.col-12</div>
      <h2>Latest NASA Mars News</h2>
      <h4 class="heading">{{listings.headline}}</h4>
      <h7 class="heading">{{listings.article_body}}</h7>
      
      <div class="col-8" style="background-color:lightblue;">.col-8</div>
      
      <div class="col-4" style="background-color:gray;">.col-4
        <div class="row">
          <div class="col-12" style="background-color:orange;">.col-12</div>
          <div class="col-12" style="background-color:red;">.col-12</div>
        </div>
      </div>
      
      <div class="col-6" style="background-color:blue;">
      .col-6
      <div class="row">
          <div class="col-12" style="background-color:orange;">.col-12</div>
          <div class="col-12" style="background-color:red;">.col-12</div>
        </div>
        </div>
      
      
      <div class="col-6" style="background-color:gray;">.col-6
        <div class="row">
          <div class="col-12" style="background-color:orange;">.col-12</div>
          <div class="col-12" style="background-color:red;">.col-12</div>
        </div>
      </div>
      
 </div>
</div>


<div class="card fixed-bottom">
  <div class="card-body">

    <div class="footer-copyright text-center py-3">© 2019 Data analysis:
          <a href="https://github.com/danielczz/"class="btn btn-primary"> Powered by Daniel Céspedes</a>
      </div>
    
  </div>
</div>

</body>

</html>